.modalContainer {
  background: #000000b3;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.generalContainerModal {
  align-items: center;
  backdrop-filter: blur(20px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, #000000 100%);
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow: auto;
  padding: 1rem;
}

.content {
  background-color: var(--color-white);
  padding: 1rem;
}